<launch>

    <param name="legged_robot_description" textfile="$(find gr1t1_description)/urdf/GR1T1.urdf"/>

    <rosparam file="$(find legged_mujoco)/config/hunter.yaml" command="load"/>

    <node name="legged_mujoco" pkg="legged_mujoco" type="legged_mujoco" respawn="false"
          clear_params="true"/>
</launch>
